@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-1);
}
:root {
    --bg-1: #dc3229;
    --bg-2: #000;
    --text-1: #fff;
    --text-2: #696969;
    --text-3: #bababa;

    --fs-xl: 7vw;
    --fs-l: 3rem;
    --fs-m: 1.1rem;
    --fs-s: 1rem;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-1);
    position: relative;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.main {
    position: absolute;
    inset: 0;
}
#part-1 {
    overflow: hidden;
}

hr {
    opacity: 0.1;
}

/* ====== Background ====== */
.background {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.background-layer {
    height: 100%;
    width: 100%;
    background-color: var(--bg-2);
}

/* ====== Nav ====== */
.hamburger-menu {
    display: none;
    height: 60px;
}
.nav {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 100px;
}
.nav__left,
.nav__right {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.logo {
    height: 70px;
    width: 100px;
    background-image: url(https://cdn6.aptoide.com/imgs/c/2/4/c2412ab7626c73ccabe1006a21722ab4_fgraphic.png);
    background-position: center;
    background-size: cover;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 4rem;
}
.link {
    color: var(--text-2);
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;
}
.link:hover {
    color: #fff;
}
.nav__right i {
    color: #fff;
}

/* ====== Main Header ====== */
.main__header {
    width: 100%;
    height: calc(85% - 110px);
    margin: auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.top-title--spacer {
    width: 75px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--text-2);
}
.top-title span {
    color: var(--text-3);
    font-size: var(--fs-m);
    text-transform: uppercase;
    font-weight: 600;
}
.headline {
    position: relative;
    width: 35vw;
    margin: 0.5rem 0;
    overflow: hidden;
}
.main__header h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--fs-xl);
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    margin: 0 0 1rem;
}
.main__header p {
    width: 380px;
    color: var(--text-2);
    font-weight: 400;
}

#to-articles {
    padding: 0.8rem 2rem;
    background-color: var(--bg-1);
    margin-left: 100px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

/* ====== Background Images ====== */
.background-images {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45vw;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 1.5fr 50px 1fr;
    grid-template-areas:
        "image-1 empty-1"
        "image-1 image-2"
        "image-1 image-3"
        "image-4 image-3";
    grid-gap: 1rem;
}
.image-1,
.image-2,
.image-3,
.image-4 {
    background-position: center;
    background-size: cover;
}
.image-1 {
    grid-area: image-1;
    background-image: url(https://images.unsplash.com/photo-1621535366998-2d8c75ebbcad?q=80&w=1980&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.image-2 {
    grid-area: image-2;
    background-image: url(https://images.unsplash.com/photo-1509847950535-14e861e5191b?q=80&w=1892&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.image-3 {
    grid-area: image-3;
    background-image: url(https://images.unsplash.com/photo-1646225481356-fda42ef79211?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.image-4 {
    grid-area: image-4;
    background-image: url(https://images.unsplash.com/photo-1533711539834-ebcee9ed4975?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#articles {
    background-color: #fff;
    position: relative;
    z-index: 3;
}

/* ====== Menu small screen ====== */
#menu-small-screen {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    display: none;
}
#menu-small-screen ul {
    list-style: none;
    text-align: right;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ss-nav-link {
    font-size: var(--fs-m);
    cursor: pointer;
}

#close-menu {
    cursor: pointer;
}
