@media screen and (max-width: 1100px) {
    .hamburger-menu {
        display: block;
    }
    .nav-links a,
    .nav__right a {
        display: none;
    }
    .background-images {
    }
}

@media screen and (max-width: 830px) {
    body {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .nav {
        padding: 0 50px;
    }
    .main__header {
        padding: 0 50px;
        margin: 0;
    }
    .background-images {
        width: 80%;
        opacity: 0.3;
    }
}
